
*{
  margin: 0;
  padding: 0;
}
.section1 {
  font-family: "Knewave", system-ui;
  color:#000;
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  text-align:center;
}
.heading1 {
  padding-top:100px;
}
.socialBlock {
  padding-bottom: 250px;
}
.taco {
  margin-top: 20px;
  margin-bottom: 50px;
}